<ion-header [translucent]="true">
  <app-header>
  </app-header>
</ion-header>
<app-sidebar></app-sidebar>

<ion-content>
<!--{{ getLocation }}-->
  <ion-col size="6" class="col-btn-marcar">
    <div class="centrar-boton">
      <ion-button color="black" id="btn-marcar" class="btn-marcar" (click)="agregarAsistencia()" (click)="validaUbicacion()">Marcar asistencia<ion-icon name="play" class="marcar-icon"></ion-icon></ion-button>
    </div>
  </ion-col>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>