<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tsAPPeo Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>  
    <ion-row>
      <ion-col size="12" class="background-header">
        <ion-title id="header">
          <ion-img src="../assets/img/tsAPPeo2.png" id="logo"></ion-img>
        </ion-title>
      </ion-col>      
    </ion-row>   
</ion-header>

<ion-content>
  <div>
    
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col class="btn-marcar">
        <ion-button (click)="login()" color="dark" shape="round">Ingresar</ion-button>
        <!-- <a [routerLink]="['/forgot-password']" class="small-text">¿Olvidó su contraseña?</a> -->
        <!-- <ion-button  type="submit" color="danger" expand="block">Ingresar</ion-button> -->
        
      </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>