#logo {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 80px;
    float: center;
    padding: 5px;
    background-color: var(--ion-color-primary);
    max-width: 100%;   
}

#header{
    text-align: center;  
    background-color: var(--ion-color-primary);
}

.background-header {
    background-color:var(--ion-color-primary);
    border-color: var(--ion-color-primary);
}

div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);

    }
    
.btn-login {
    display: flex !important;
    width: 199px;
    height: 62px;
    background-color: #000000;
    border-radius: 40px;
    font-size: 15px;
    color: white;
}

