<ion-tabs class="ion-color-paraduoc">
  <ion-tab-bar slot="bottom" class="color-para-tabs">
    <ion-tab-button class="color-para-button-tabs" (click)="RedirectToHome()" tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="color-para-button-tabs" (click)="RedirectToList()" tab="list">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="color-para-button-tabs" (click)="RedirectToPerfil()" tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>