.color-para-tabs{
    background-color: #E2E1E1;
}

.color-para-button-tabs{
    background-color: #E2E1E1;
    color: #000000;
}

.color-para-button-tabs:hover {
    background-color: #000000;
    color: #e2e1e1 !important;;
}