<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>tsAPPeo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list >
    <ion-item-group>  
      <ion-item color="medium">
        <ion-label (click)="RedirectToAyuda()"> AYUDA </ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label (click)="RedirectToAyuda()"> ACERCA DE </ion-label>
      </ion-item >
      <ion-item color="medium" lines="none">
        <ion-label></ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-content color="medium" class="ion-padding cerrar-sesion" (click)="doLogOut()" >CERRAR SESIÓN    
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
