<ion-header [translucent]="true"> 
  <app-header>
  </app-header>
</ion-header>
<app-sidebar></app-sidebar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col id="titulo">
        <h1 class="bold">PERFIL 
        </h1>
      </ion-col>
    </ion-row>
      <ion-row >
        <ion-col size="4"> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Nombre:" ></ion-textarea>
          </ion-item>
        </ion-col> 
        <ion-col>
        <ion-item>
          <ion-textarea [readonly]="true"  placeholder={{this.perfil.nombre}}></ion-textarea>
        </ion-item>
      </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col size="4"> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Rut:" ></ion-textarea>
          </ion-item>
        </ion-col> 
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true"  placeholder={{this.perfil.rut}}></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col size="4"> 
          <ion-item>
            <ion-textarea [readonly]="true" label="Carrera:"></ion-textarea>
          </ion-item>
        </ion-col> 
        <ion-col> 
          <ion-item>
            <ion-textarea [readonly]="true" placeholder={{this.perfil.carrera}}></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> 
          <ion-item > 
            <ion-textarea  [readonly]="true" label="Correo:" ></ion-textarea>
          </ion-item>
        </ion-col> 
        <ion-col> 
          <ion-item > 
            <ion-textarea  [readonly]="true" placeholder={{this.perfil.correo}}></ion-textarea>
          </ion-item>
        </ion-col> 
      </ion-row>
      
  </ion-grid>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
